/.minecraft/logs/
/.minecraft/config/splash.properties
/.minecraft/saves/SIn_world/
/venv/
/_internal/.minecraft/logs/
/_internal/.minecraft/crash-reports/
/_internal/.minecraft/config/splash.properties
/_internal/.minecraft/stats/
/_internal/.minecraft/saves/cnet_map.zip
/_internal/.minecraft/saves
/_internal/.minecraft/null
